.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 250px;
	height: 100%;
	background-color: #2c3e50; /* Современный темно-серый цвет */
	color: white;
	transition: transform 0.3s ease;
	transform: translateX(-100%); /* Прячем sidebar */
	z-index: 1000;
}

.sidebar.open {
	transform: translateX(0); /* Показываем sidebar, если открыт */
}

.sidebar h2 {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 1.5em;
	color: #ecf0f1; /* Светло-серый для текста заголовка */
}

.menu-list {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}

.menu-list li {
	margin: 15px 0;
}

.menu-list li a {
	color: #ecf0f1; /* Светлый цвет для текста ссылок */
	text-decoration: none;
	font-size: 1.1em;
	padding: 10px 20px;
	display: block;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.menu-list li a:hover {
	background-color: #34495e; /* Более темный цвет при наведении */
}

.sidebar-toggle {
	position: fixed;
	top: 20px;
	left: 20px;
	background-color: #2c3e50;
	color: #ecf0f1;
	border: none;
	font-size: 2em;
	z-index: 1100;
	cursor: pointer;
}

@media (min-width: 768px) {
	.sidebar {
		transform: translateX(0); /* На больших экранах sidebar всегда открыт */
		width: 250px;
	}
	.sidebar-toggle {
		display: none; /* Прячем кнопку на больших экранах */
	}
}

@media (max-width: 767px) {
	.sidebar {
		width: 100%;
	}
	.sidebar h2 {
		text-align: center;
	}
	.menu-list li {
		text-align: center;
	}
}
