/* Добавьте этот код в файл Login.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.logo-container {
	padding-bottom: 20px;
}

.login-form-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Добавляет полупрозрачный черный фон */
}

.login-form-container::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('../../../public/images/home_baner_poleed.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(4px);
	z-index: -1;
}

.login-form {
	background: rgba(255, 255, 255, 0.2); /* Белый фон с прозрачностью */
	backdrop-filter: blur(10px);
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 350px; /* или любая другая фиксированная ширина если нужно */
	box-sizing: border-box;
	z-index: 2;
	font-family: 'Open Sans', sans-serif;
}

.login-form h3 {
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: 0.85rem;
	color: #fff;
}

.login-form label {
	color: #fff; /* Цвет текста, чтобы лучше видеть на темном фоне */
	font-weight: 600; /* Жирность шрифта */
	text-transform: uppercase; /* Преобразование текста в верхний регистр для лейблов */
	font-size: 1rem; /* Размер шрифта лейблов */
	margin-bottom: 0.25rem; /* Отступ после лейбла */
}

.login-form input {
	width: 100%; /* Вычитаем padding */
	margin-bottom: 1rem;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: block;
}

.login-form button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #000000;
	color: white;
	cursor: pointer;
	font-size: 1rem;
}

.error-message {
	color: red;
	text-align: center;
	margin-top: 1rem;
}
