services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile.prod
        container_name: backend
        ports:
            - '3002:3002'
        env_file:
            - .env.production
        environment:
            - DATABASE_URL=postgres://fedigo_admin:Igor18052008@db_auth:5432/poleeducation
        depends_on:
            - db_auth
        restart: always

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile.prod
        container_name: frontend
        ports:
            - '3001:80'
        depends_on:
            - backend
        restart: always

    db_auth:
        container_name: poleeducation_db
        image: postgres:16-alpine
        ports:
            - '5435:5432'
        environment:
            - POSTGRES_DB=poleeducation_db
            - POSTGRES_USER=fedigo_admin
            - POSTGRES_PASSWORD=Igor18052008
        volumes:
            - db_data:/var/lib/postgresql/data
        restart: always

volumes:
    db_data:
