/* AddUserPage.css */
.table-container {
	margin-top: 20px;
}

.table-container table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

.table-container th,
.table-container td {
	padding: 8px;
	border: 1px solid #ddd;
	text-align: left;
}

.table-container th {
	background-color: #f2f2f2;
}

.table-container tr:hover {
	background-color: #f2f2f2;
}

.selected {
	background-color: #e6f7ff;
}
.edit-button,
.delete-button {
	/* Общие стили для кнопок */
	padding: 4px 8px;
	margin-right: 4px; /* Добавляем небольшой отступ справа для кнопки */
	border: 1px solid #ccc;
	cursor: pointer;
}

.delete-button {
	/* Специфические стили для кнопки удаления */
	background-color: #ffcccc;
	border-color: #ff0000;
}
