.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Убедитесь, что фон находится выше других элементов */
}

.modal {
	position: relative;
	padding: 20px;
	width: 70%; /* Занимает 90% ширины экрана */
	max-width: 1800px; /* Максимальная ширина для очень больших экранов */
	background: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: visible; /* Скрывает всё, что выходит за границы контейнера */
}
.narrow-modal {
	width: 30%; /* Ширина модального окна */
	max-width: 600px; /* Максимальная ширина для управления размером на больших экранах */
}

.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: none;
	color: #000;
	font-size: 24px;
	cursor: pointer;
}

.modal h3 {
	margin-top: 0;
	color: #333;
}

.modal label {
	display: block;
	margin-bottom: 10px;
}

.modal input[type='text'],
.modal input[type='email'],
.modal input[type='password'],
.modal select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box; /* Makes sure padding doesn't affect width */
	margin-top: 4px;
}

.modal .form-actions {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.modal button {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: #007bff;
	color: white;
}

.modal button[type='button'] {
	background-color: #6c757d;
}

.modal button:hover {
	opacity: 0.8;
}

.error-message {
	color: red;
	font-size: 0.9rem;
	margin-top: 10px;
}

.table-container {
	margin-top: 20px;
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

table th {
	background-color: #f8f9fa;
}

.selected {
	background-color: #e9ecef;
}

.edit-button,
.delete-button,
.deteil-button {
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.deteil-button {
	background-color: #657068;
	color: white;
}
.edit-button {
	background-color: #28a745;
	color: white;
}

.delete-button {
	background-color: #dc3545;
	color: white;
}

.edit-button:hover,
.delete-button:hover {
	opacity: 0.8;
}

/*Модальное окно детали */
.details-table {
	width: 100%;
	border-collapse: collapse;
}

.details-table th,
.details-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.details-table th {
	background-color: #f4f4f4;
}

.exercise-image {
	width: 100px; /* Вы можете изменить размер по желанию */
	height: auto;
}
