.background_color {
	background-color: #343537;
	width: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 0;
}

.background_color_menu {
	background-color: #121213;
	z-index: 0;
}

.background_image {
	background-image: url('../../../public/images/background_home.png');
	background-repeat: no-repeat;
	background-size: cover; /* Изображение покрывает блок */
	background-position: center; /* Центрирование изображения */
	width: 50%; /* Ширина 100%, чтобы изображение тянулось по всей ширине */
	height: 100vh; /* Высота 100% от высоты экрана */
	position: absolute; /* Абсолютное позиционирование для слоя под контентом */
	top: 0;
	left: 25%;
	z-index: -2; /* Этот слой будет ниже контента */
}
.background_color::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: -1;
}

/* 1. Большие экраны: мониторы, десктопы (max-width: 1440px) */
@media (max-width: 1440px) {
	.background_image {
		width: 70%; /* Увеличиваем ширину на больших экранах */
		// height: 80vh;
		top: 10%;
		left: 17%;
	}
}

/* 2. Средние экраны: ноутбуки и десктопы (max-width: 1024px) */
@media (max-width: 1024px) {
	.background_image {
		width: 100%; /* Изображение занимает больше ширины */
		left: 0%;
	}
}

/* 3. Малые экраны: планшеты (max-width: 768px) */
@media (max-width: 768px) {
	.background_image {
		width: 100%; /* Изображение растягивается на всю ширину */
		left: 0;
	}
}

/* 4. Большие телефоны (max-width: 576px) */
@media (max-width: 576px) {
	.background_image {
		width: 100%;
		height: 100%; /* Уменьшаем высоту для мобильных */
	}
}

/* 5. Маленькие телефоны (max-width: 400px) */
@media (max-width: 400px) {
	.background_image {
		width: 100%;
		height: 80%; /* Еще меньше высота для маленьких телефонов */
	}
}
