.modal-fullscreen {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	max-width: 90%;
	width: 800px;
	max-height: 90%;
	overflow-y: auto;
}

.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

.details-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.details-table th,
.details-table td {
	border: 1px solid #ddd;
	padding: 8px;
}

.details-table th {
	background-color: #f2f2f2;
}

.exercise-image {
	width: 100px;
	height: auto;
}
