.modal-details {
	width: 90%;
	max-width: 600px;
	margin: 0;
	padding: 20px;
}

.modal-details-content {
	position: relative;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.modal-details-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: none;
	font-size: 24px;
	color: black; /* Явно задаем цвет */
	cursor: pointer;
}
